.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/musicajp-4de48.appspot.com/o/migos1.jpg?alt=media&token=e5cec6d3-c971-42df-9bcc-c7e1a493e9e7);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
    
}
